.template-home {
  padding: 50px;

  .color-article {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    transition: background-color 0.3s;
  }

  .orange {
    background-color: orange;
  }

  .yellow {
    background-color: yellow;
  }
}
