/****************************************************************
/ Base contains TAGS general styling
/****************************************************************/

@view-transition {
    navigation: auto;
}

html {
    // color-scheme: dark light;
    font-family: $ff-gotham;
}

body {
    // font rendering an aliasing
    text-rendering: geometricPrecision;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // overscroll
    overscroll-behavior: none;

    // smooth scroll (only touch screens)
    @include m--touchscreen {
        scroll-behavior: smooth;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p a {
    text-decoration: underline;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}
